<div class="attachment-form">
  <%= simple_form_for( ([entry, attachment]), method: :post, remote: true, html: { autocomplete: 'off', wrap: 'hard'}) do |f| %>
    <%= f.error_notification %>
    <%= f.input :user,
                as: :hidden,
                input_html: {value: "#{current_user.id}"},
                label: false %>
    <%= f.input :entry,
                as: :hidden,
                input_html: {value: "#{@entry.id}", class: "hidden"},
                label: false %>
    <%= f.input :name,
                label: false %>
    <%= f.input :name_cache, as: :hidden %>
    <%= f.submit "Anhang hochladen", class: "hidden button-submit" %>
  <% end %>
</div>

<i class="fas fa-plus-circle fa-3x" id="add-attach-btn"></i>

<div class="attachment-preview">

</div>
