<div class="entry-card">
  <div class="entry-card-head">
    <div class="author-infos big">
      <div class="avatar avatar-medium" id="author-pic" style="background-image: url(<%= asset_path 'profile.png' %>);"></div>
      <div class="author-text">
        <h4 class="red-font semi-bold-font"><%= entry.user.first_name %> <%= entry.user.second_name %></h4>
        <h4><%= entry.created_at.strftime("%d.%m.%Y") %> um <%= entry.created_at.strftime('%H:%M') %></h4>
      </div>
    </div>
    <div id='<%="entry_#{entry.id.to_s}"%>'>
      <%= render 'components/bookmark', entry: entry %>
    </div>
  </div>
  <%= link_to(entry) do %>
    <div class="entry-card-link">
      <div class="entry-card-description">
        <h2 class="red-font bold-font"><%= entry.title %></h2>
        <p><%= entry.description %></p>
      </div>

      <div class="entry-card-foot">
        <div>

        <% if entry.time %>
          <h4 class="red-font semi-bold-font" id="entry-card-date"><%= entry.date.strftime("%d.%m.%Y") %> um <%= entry.time.strftime('%H:%M')%> Uhr</h4>
        <% end %>
        <% if entry.location %>
          <h4 class="red-font semi-bold-font"><%= entry.location %></h4>
        <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
