<div class="entry-card">
  <div class="entry-card-head">
    <div class="author-infos big">
      <div class="avatar avatar-medium" id="author-pic" style="background-image: url(<%= asset_path 'profile.png' %>);"></div>
      <div class="author-text">
        <h4 class="red-font semi-bold-font"><%= bookmark.entry.user.first_name %> <%= bookmark.entry.user.second_name %></h4>
        <h4><%= bookmark.entry.created_at.strftime("%d-%m-%Y")%> - <%= bookmark.entry.created_at.strftime('%H:%M') %></h4>
      </div>
    </div>
    <div id='<%="entry_#{bookmark.entry.id.to_s}"%>'>
      <%= render 'components/bookmark', entry: bookmark.entry %>
    </div>
  </div>
  <%= link_to(bookmark.entry) do %>
    <div class="entry-card-link">
      <div class="entry-card-description">
        <h2 class="red-font bold-font"><%= bookmark.entry.title %></h2>
        <p><%= bookmark.entry.description %></p>
      </div>

      <div class="entry-card-foot">
        <div>

        <% if bookmark.entry.time %>
          <h4 class="red-font semi-bold-font" id="entry-card-date"><%= bookmark.entry.date.strftime('%A') %>, <%= bookmark.entry.date.strftime("%d.%m.%Y") %> um <%= bookmark.entry.time.strftime('%H:%M')%> Uhr</h4>
        <% end %>
        <% if bookmark.entry.location %>
          <h4 class="red-font semi-bold-font"><%= bookmark.entry.location %></h4>
        <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
