<div class="comments">
    <h4 class="bold-font">Kommentare:</h4>
    <div class="new-comment-area">
      <div class="author-infos small">
        <!-- <div class="avatar avatar-medium" id="author-pic" style="background-image: url(<%= asset_path 'profile.png' %>);">
        </div> -->
      </div>
      <%= simple_form_for(comment, url: add_comment_path, html: { autocomplete: 'off', wrap: 'hard'}, remote: true) do |f| %>
        <%= f.error_notification %>

        <div id="comment-input">
          <%= f.input :text, as: :text, required: true, placeholder: 'Schreibe einen Kommentar...', label: false %>
        </div>

        <div class="form-actions d-none" id="new-comment-buttons">
          <%= f.button :button, 'Abbrechen', type: :reset, class: 'btn-second-choice', id: 'cancel-btn' %>
          <%= f.button :submit, "Kommentieren", disabled: true, class: 'btn-first-choice', id: 'submit-btn' %>
        </div>
      <% end %>
    </div>
    <% @comments.each do |c| %>
      <%= render 'components/comment', comment: c %>
    <% end %>
  </div>

  <%= javascript_pack_tag 'addComment' %>
