<div class="comment">
  <div class="author-infos small">
    <div class="avatar avatar-medium" id="author-pic" style="background-image: url(<%= asset_path 'profile.png' %>);">
    </div>
    <div>
      <h5 class="red-font bold-font"><%= comment.user.first_name %> <%= comment.user.second_name %>
      <h5><%= comment.created_at.strftime("%d.%m.%Y") %> um <%= comment.created_at.strftime('%H:%M') %></h5>
    </div>
  </div>
  <div class="comment-content">
    <p class="comment-text"><%= comment.text %></p>
    <div id='<%="comment_#{comment.id.to_s}"%>'>
      <%= render 'components/bee', comment: comment %>
    </div>
  </div>
</div>
