
<!-- Sidebar -->
<nav id="sidebar">
  <!-- Burger menu item to close sidebar -->
  <div id="dismiss">
    <i class="fas fa-bars shadowless"></i>
  </div>
  <div class="sidebar-content">

    <%= link_to entries_path do %>
      <i class="far fa-paper-plane">
        <span> Start</span>
      </i>
    <% end %>

    <%= link_to user_path(current_user) do  %>
      <i class="fas fa-user">
        <span> Mein Profil</span>
      </i>
    <% end %>

    <%= link_to my_bookmarks_path do %>
      <i class="fas fa-bookmark">
        <span> Lesezeichen</span>
      </i>
    <% end %>

    <%= link_to users_path do %>
      <i class="fas fa-users">
        <span> SV</span>
      </i>
    <% end %>

    <% if current_user.super_admin? %>
      <%= link_to admin_users_path do %>
        <i class="fas fa-cogs">
          <span> SuperAdmin</span>
        </i>
      <% end %>
    <% end %>

    <!-- <div id="log-out-div"> -->
      <%= link_to(destroy_user_session_path, method: 'delete', class: "sidebar-icon-blue") do %>
        <h3>LOG OUT <i class="fas fa-sign-out-alt shadowless"></i></h3>
      <% end %>
    <!-- </div> -->

  </div>
</nav>


<!-- dark overlay to show if sidebar is shown -->
<div class="overlay"></div>

<!-- Burger menu item to open sidebar -->
<div id="sidebarCollapse">
    <i class="fas fa-bars"></i>
</div>
