<div class="red-background">
  <div class="container">
    <div class="logo-container">
      <%= cl_image_tag("logo", width: 150, height: 150, crop: :fill) %>
    </div>
    <div class="landing-description">
      <h2>Mehr als lernen</h2>
      <h1>SV-App</h1>
    </div>

    <div class="container registration-form">
      <h2>Neu Anmelden</h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :first_name,
                      required: true,
                      autofocus: true ,
                      input_html: { autocomplete: "first_name" }%>
          <%= f.input :second_name,
                      required: true,
                      autofocus: true ,
                      input_html: { autocomplete: "last_name" }%>
          <%= f.input :birthday,
                      as: :date,
                      order: [:day, :month, :year],
                      start_year: Date.today.year - 70,
                      end_year: Date.today.year - 10,
                      required: true %>
          <%= f.association :school,
                      collection: School.order(:name) %>
          <%= f.input :form,
                      collection: 5..13,
                      required: true,
                      autofocus: true ,
                      input_html: { autocomplete: "last_name" }%>
          <%= f.input :klass,
                      required: true,
                      autofocus: true ,
                      input_html: { autocomplete: "last_name" }%>
          <%= f.input :role,
                      collection: ['KlassensprecherIn', 'JahrgangssprecherIn', 'SchulsprecherIn', 'ModeratorIn', 'LehrerIn'],
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "last_name" }%>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Registrieren", :class => "btn-start-first-choice" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>

  </div>
</div>
