<%= render 'components/back_navbar' %>
<%= render 'components/entry_modal', entry: @entry %>
<%= render 'components/deactivation_modal', entry: @entry %>

<div class="container">
  <div class="author-infos big">
    <div class="avatar avatar-medium" id="author-pic" style="background-image: url(<%= asset_path 'profile.png' %>);">
    </div>
    <div>
      <h3 class="red-font bold-font"><%= @author.first_name %> <%= @author.second_name %> |
      <h3><%= @entry.created_at.strftime("%d.%m.%Y") %> um <%= @entry.created_at.strftime('%H:%M') %></h3>
    </div>
  </div>
  <div class="entry-body">
    <% if @entry.date %>
      <h3 class="small-top-bottom-margin semi-bold-font"> <%= @entry.date.strftime("%d.%m.%Y") %>
        <% if @entry.time %>
            um <%= @entry.time.strftime('%H:%M')%> Uhr
        <% end %>
      </h3>
    <% end %>
    <% if @entry.location %>
      <h3 class="small-top-bottom-margin semi-bold-font italic-font"><%= @entry.location %></h3>
    <% end %>
    <h2 class="semi-bold-font small-top-bottom-margin"><%= @entry.title %></h2>
    <p><%= @entry.description %></p>
    <% if @entry.date %>
      <p class="small-top-bottom-margin"><span class="bold-font">Wann: </span> <%= @entry.date.strftime("%d.%m.%Y") %>
        <% if @entry.time %>
          um <%= @entry.time.strftime('%H:%M')%> Uhr
        <% end %>
      </p>
    <% end %>
    <% if @entry.location %>
      <p class="small-top-bottom-margin"><span class="bold-font">Wo: </span><%= @entry.location %></p>
    <% end %>
  </div>

  <%= render 'components/attachment_form', entry: @entry, attachment: @attachment %>

  <div class="comments">
    <h4 class="bold-font">Kommentare:</h4>
    <div class="new-comment-area">
      <div class="author-infos small">
        <div class="avatar avatar-medium" id="author-pic" style="background-image: url(<%= asset_path 'profile.png' %>);">
        </div>
      </div>
      <%= simple_form_for(@comment, url: add_comment_path, html: { autocomplete: 'off', wrap: 'hard'}, remote: true) do |f| %>
        <%= f.error_notification %>

        <div id="comment-input">
          <%= f.input :text, as: :text, required: true, placeholder: 'Schreibe einen Kommentar...', label: false %>
        </div>

        <div class="form-actions d-none" id="new-comment-buttons">
          <%= f.button :button, 'Abbrechen', type: :reset, class: 'btn-second-choice', id: 'cancel-btn' %>
          <%= f.button :submit, "Kommentieren", disabled: true, class: 'btn-first-choice', id: 'submit-btn' %>
        </div>
      <% end %>
    </div>
    <% @comments.each do |comment| %>
      <%= render 'components/comment', comment: comment %>
    <% end %>
  </div>
</div>
<%= javascript_pack_tag 'addComment' %>
