<%= render 'components/navbar_burger_only' %>
<div class="container margin-top-30 users-list">
  <% @users.each do |user| %>
    <%= link_to user_path(user) do  %>
      <div class="author-infos big list-item">
        <div class="avatar avatar-medium" id="author-pic" style="background-image: url(<%= asset_path 'amelie.png' %>);">
        </div>
        <div>
          <h3 class="red-font bold-font"><%= user.first_name %> <%= user.second_name %> </h3>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
