<div class="container margin-top-30 users-list">
  <% @pending_users.each do |user| %>

    <%= link_to '#' do  %>
      <div class="author-infos big list-item justify-content-between pr-2">
        <div class="items-left d-flex align-items-center">
          <div class="avatar avatar-medium" id="author-pic" style="background-image: url(<%= asset_path 'amelie.png' %>);">
          </div>
          <div>
            <h3 class="red-font bold-font"><%= user.first_name %> <%= user.second_name %> |  Status: <%= user.approved ? "approved!" : "Pending" %></h3>
            <h3><%= user.role %></h3>
          </div>
        </div>
        <%= button_to 'Approve', users_pending_path(user), class: 'btn-pending', data: { confirm: "Approve #{user.first_name}?" },  method: :patch %>
      </div>
    <% end %>
  <% end %>
</div>
